@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000000, #5ad717);
    color: #333;
    font-family: 'Roboto', sans-serif;
}

.container {
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(118 114 114 / 50%);
    padding: 20px;
    width: 90%;
    max-width: 600px;
}

.form-box {
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 8px;
    flex-direction: column;
    display: none;
}

.form-box.active {
    display: block;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #000000;
}

p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
    color: #000000;
    a{
        color: #5ad717;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover{
        text-decoration: underline;
    }
}

input,select{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
    width: 100%;
    padding: 10px;
    background-color: #5ad71797;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: #000000a0;
}

.error-message{
    color: #ff0000;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 10px;
}

/*keyframes animista*/

/*Slide Animation Login left*/

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
